/* Image uploader css ans table css part */
.image-upload{
    position: relative;
    max-width: 250px;
    margin: 50px auto;
    
}
.image-edit{
    position: absolute;
    right: 26px;
    z-index: 1;
    top: 10px;
}
#header{
    border-bottom: 5px solid grey;
    width: 270px;
}
.image-edit input{
    display: none;
}

.image-edit label{
    display: inline-block;
    width: 39px;
    height: 39px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

.image-preview {
    width: 250px;
    height: 250px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.image-preview > div{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -5%;
}

.image-edit input + label:hover{
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.image-edit input + label:after{
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 7px;
    font-size: 1.1rem;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

#table-container{
    box-shadow:  0px 0px 45px 5px #80808091;
    border-radius: 5px;
    max-width: 500px;
    margin: 50px;
}

@media screen and (max-width: 480px){
    #table-container{
        max-width: 350px;
    }
}

/* .img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}



.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
} */

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}
 
.upload-label:hover{
    background: #34495E;
    color: #39D2B4;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
